<div class="footer-top">
  <div class="grid grid-centered">
    <div class="grid-cell with-6col">
      <div class="footer-weather">
        <h3>
          Current weather
          <span>In Cauzac, France</span>
        </h3>
        <div class="weather"></div>
      </div>
    </div>
    <div class="grid-cell with-6col is-right">
      <div class="footer-contact">
        <a href="mailto:info@pechguillou.com" title="Email us">pechguillou@gmail.com</a>
        <a href="tel:+32473411645" title="Call us">+32 (0) 473 41 16 45</a>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="grid grid-centered">
    <div class="grid-cell">
      <ul class="footer-links">
        <li><a href="{{ site.baseurl }}house" title="The house">The house</a></li>
        <li><a href="{{ site.baseurl }}location" title="Location">Location</a></li>
        <li><a href="{{ site.baseurl }}availability" title="Availability">Availability</a></li>
        <li><a href="{{ site.baseurl }}contact" title="Contact">Contact</a></li>
      </ul>
      <ul class="footer-links is-right">
        <li><a href="https://www.facebook.com/Pech-Guillou-338718512906545/?fref=ts" target="_blank" title="Facebook">Facebook</a></li>
        <li><a href="#" target="_blank" title="Tripadvisor">Tripadvisor</a></li>
      </ul>
      <p class="footer-copy">&copy; 2016 Pech Guillou. All Rights Reserved.</p>
    </div>
  </div>
</footer>
