<nav class="navigation navigation-fixed is-hidden">
  <div class="grid grid-centered">
    <div class="grid-cell">
      <a href="{{ site.baseurl }}" title="{{ site.name }}" class="navigation-brand">
        <img src="{% asset_path logo-normal.png %}" alt="{{ site.name }}">
      </a>
      <ul>
        <li><a href="#" title="The house">The house</a></li>
        <li><a href="#" title="Location">Location</a></li>
        <li><a href="#" title="Availability">Availability</a></li>
        <li><a href="#" title="Guestbook">Guestbook</a></li>
        <li><a href="#" title="Contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
