<nav class="navigation navigation-fixed {% if page.handle == 'home' %}navigation-appear is-hidden{% endif %}">
  <div class="grid grid-centered">
    <div class="grid-cell">
      <a href="{{ site.baseurl }}" title="{{ site.name }}" class="navigation-brand">
        <img src="{% asset_path logo-normal.png %}" alt="{{ site.name }}">
      </a>
      <div class="navigation-trigger">
        <i class="material-icons">menu</i>
      </div>
      <ul>
        <li><a href="{{ site.baseurl }}house" {% if page.handle == 'house' %}class="is-active"{% endif %} title="The house">The house</a></li>
        <li><a href="{{ site.baseurl }}location" {% if page.handle == 'location' %}class="is-active"{% endif %} title="Location">Location</a></li>
        <li><a href="{{ site.baseurl }}availability" {% if page.handle == 'availability' %}class="is-active"{% endif %} title="Availability">Availability</a></li>
        <li><a href="{{ site.baseurl }}contact" {% if page.handle == 'contact' %}class="is-active"{% endif %} title="Contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
