<nav>
  <a href="" class="navigation-logo">
    <img src="{% asset_path logo-white.png %}" alt="">
  </a>
  <ul class="navigation-links">
    <li><a href="#">Rooms</a></li>
    <li><a href="#">Location</a></li>
    <li><a href="#">Availability</a></li>
    <li><a href="#">Guestbook</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<!-- http://www.booking.com/hotel/fr/holiday-home-maitairie-haute-m-662.nl.html?checkin=2016-01-26;dist=0;group_adults=2;interval=8;sb_price_type=total;soh=1;type=total;ucfs=1& -->
