// =============================================================================
// Boxes
// =============================================================================

.box {
  display: block;
  background: $white;
  border-radius: $base-border-radius;
  img {
    display: block;
    width: 100%;
    border-radius: $base-border-radius $base-border-radius 0 0;
  }
  h5 {
    padding: 35px 25px 20px;
  }
  p {
    min-height: 150px;
    padding: 0 25px 35px;
    font-size: 13px;
    text-align: justify;
  }
}

// Responsive
// =============================================================================

@include breakpoint(medium) {
  .box {
    margin-bottom: $gutter * 2;
    p {
      min-height: 104px;
    }
    &.is-third,
    &.is-fourth {
      margin-bottom: 0;
    }
  }
}

@include breakpoint(small) {
  .box {
    p {
      min-height: 81px;
    }
    &.is-third {
      margin-bottom: $gutter * 2;
    }
  }
}
