// =============================================================================
// Buttons
// =============================================================================

// Settings
// =============================================================================

// Scaffolding buttons with a given color.
// @param {Hex} $background color for the button background.
// @param {Hex} $font color for the button text.

@mixin button-generator($background, $font) {
  color: $font;
  background-color: $background;
  &:hover {
    color: $font;
    background-color: lighten($background, 5);
  }
  &:focus,
  &:active {
    color: $font;
    background-color: darken($background, 10);
    outline: none;
  }
}

// Component
// =============================================================================

.button {
  position: relative;
  display: inline-block;
  padding: 15px 50px;
  font-family: $sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: $base-border-radius;
  transition: all $base-transition-speed ease-in-out;
  appearance: none;
  user-select: none;
  &:disabled,
  &.is-disabled {
    color: $gray-light;
    cursor: not-allowed;
    background-color: $gray-lightest;
    &:hover,
    &:focus,
    &:active {
      color: $gray-light;
      background-color: $gray-lightest;
      outline: none;
    }
  }
}

// Descendants
// =============================================================================

// Basic generated buttons

.button-default {
  color: $base-font-color;
  background-color: $gray-lightest;
  &:hover {
    color: $base-font-color;
    background-color: darken($gray-lightest, 5);
  }
  &:focus,
  &:active {
    color: $base-font-color;
    background-color: darken($gray-lightest, 10);
    outline: none;
  }
  &.active {
    color: $white;
    background: $brand-primary;
  }
}

.button-danger {
  @include button-generator($brand-danger, $white);
}

.button-primary {
  @include button-generator($brand-primary, $white);
}

.button-success {
  @include button-generator($brand-success, $white);
}

.button-warning {
  @include button-generator($brand-warning, $white);
}
