// =============================================================================
// Containers
// =============================================================================

.container {
  display: block;
  font-size: 0;
  background: $white;
  border-radius: $base-border-radius;
}

.container-map {
  display: inline-block;
  width: 50%;
  height: 700px;
  font-size: $base-font-size;
  vertical-align: middle;
}

.container-text {
  display: inline-block;
  width: 50%;
  font-size: $base-font-size;
  vertical-align: middle;
  p {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container-form {
  display: block;
  padding: 100px;
  background: $white;
  border-radius: $base-border-radius;
  form {
    min-height: 416px;
  }
}

.container-price {
  display: block;
  padding: 50px;
  text-align: center;
  background: $white;
  border-radius: $base-border-radius;
  p {
    min-height: 50px;
    margin: 10px 0 20px;
    color: $gray;
  }
  h2 {
    color: $brand-primary;
    span {
      display: block;
      font-size: 12px;
      color: $gray-light;
    }
  }
}

.container-calendar {
  display: block;
  padding: 100px;
  margin-top: $gutter * 2;
  background: $white;
  border-radius: $base-border-radius;
  .btn-group {
    display: block;
    text-align: center;
    vertical-align: top;
    .button {
      display: inline-block;
    }
  }
}

.container-calendar-title {
  display: block;
  padding: 15px 0;
  margin: 25px 0;
  text-align: center;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
}

.container-calendar-legend {
  display: block;
  margin-top: 25px;
  text-align: right;
}

.legend {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  p {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: #1e90ff;
    border-radius: 50%;
  }
  &.is-booking span {
    background: #ad2121;
  }
}

#calendar {
  font-family: $sans-serif !important;
}

.cal-cell1 {
  font-size: 14px;
}

// Responsive
// =============================================================================

@include breakpoint(medium) {
  .container-form {
    padding: 100px 50px;
  }
}

@include breakpoint(small) {
  .container-map {
    display: block;
    width: 100%;
    height: 400px;
  }
  .container-text {
    display: block;
    width: 100%;
    padding: 100px 25px;
  }
}

@include breakpoint(extra-small) {
  .container-form {
    padding: 75px 25px;
  }
}
