// =============================================================================
// House
// =============================================================================

.house-box {
  display: block;
  height: 600px;
  font-size: 0;
}

.house-box-image {
  display: inline-block;
  width: 50%;
  height: 100%;
  font-size: $base-font-size;
  vertical-align: top;
  border-radius: $base-border-radius 0 0 $base-border-radius;
}

.house-box-text {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 150px 50px;
  font-size: $base-font-size;
  text-align: center;
  vertical-align: top;
  border-radius: 0 $base-border-radius $base-border-radius 0;
  p {
    display: block;
    max-width: 400px;
    min-height: 125px;
    margin: 35px auto;
    text-align: justify;
  }
  a {
    display: inline-block;
    padding: 15px 0;
    font-size: 16px;
    font-style: italic;
    border-top: 1px solid rgba($brand-primary-dark, .3);
    border-bottom: 1px solid rgba($brand-primary-dark, .3);
    i {
      display: inline-block;
      margin-left: 15px;
      font-size: 16px;
      vertical-align: middle;
    }
  }
}

.house-box-indicators {
  position: absolute;
  bottom: 0;
  left: 75%;
  display: block;
  margin-left: -42px;
  font-size: 0;
  text-align: center;
  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    margin: 0 1px;
    font-size: 18px;
    color: rgba($white, .7);
    text-align: center;
    vertical-align: middle;
    background: $brand-primary;
  }
}

.house-box-pool {
  display: inline-block;
  max-width: 400px;
  padding: 50px;
  margin-top: 61px;
  text-align: center;
  background: $white;
  border-radius: $base-border-radius;
  box-shadow: 0 0 10px rgba($black, .2);
  p {
    display: block;
    margin-top: 25px;
    text-align: justify;
  }
}

.house-info {
  display: block;
  margin-top: 80px;
  text-align: center;
  i {
    font-size: 70px;
    color: $brand-primary;
  }
  p {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
  h3 {
    margin: 15px 0 10px;
  }
}
