// =============================================================================
// Sections
// =============================================================================

section {
  display: block;
  padding: 100px 0;
}

.section-background {
  position: relative;
  height: 600px;
  background-size: cover !important;
}

.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100px 0;
  background: rgba($brand-info, .2);
}

.section-light {
  background: rgba($brand-primary, .1);
}

.section-gray {
  background: $gray-lightest;
}

.section-dark {
  background: $gray-darkest;
}

.section-intro {
  display: block;
  max-width: 700px;
  margin: 0 auto 50px;
  text-align: center;
  p {
    margin-top: 10px;
  }
}

.section-letter::first-letter {
  float: left;
  padding-right: 15px;
  margin-top: -4px;
  font-size: 79px;
  line-height: 1;
}

.section-mosaic {
  display: block;
  padding: 75px 37.5px 62.5px;
  margin-bottom: 75px;
  font-size: 0;
  text-align: center;
  background: $white;
  border-radius: $base-border-radius;
  p {
    margin: 15px 0 25px;
    font-size: $base-font-size;
  }
  a {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 12.5px;
    overflow: hidden;
    font-size: $base-font-size;
    div {
      position: absolute;
      top: 12.5px;
      right: 12.5px;
      bottom: 12.5px;
      left: 12.5px;
      background: rgba($gray-darkest, .7);
      transition: background $base-transition-speed linear;
      h6 {
        display: inline-block;
        padding: 50% 0 0;
        margin-top: -68px;
        font-family: $sans-serif;
        font-size: 14px;
        letter-spacing: .1em;
        color: $white;
        text-align: center;
        text-transform: uppercase;
      }
      .stripe {
        display: block;
        width: 70px;
        height: 1px;
        margin: 25px auto;
        background: rgba($brand-primary, .7);
        transition: transform $base-transition-speed linear;
      }
    }
    &:hover {
      div {
        background: rgba($gray-darkest, .5);
        .stripe:first-child {
          transform: translateY(-5px);
        }
        .stripe:last-child {
          transform: translateY(5px);
        }
      }
    }
  }
}
