// =============================================================================
// Weather
// =============================================================================

@font-face {
  font-family: 'weather';
  src: url(font_path("weather.eot?#iefix")) format("embedded-opentype"),
  url(font_path("weather.woff")) format("woff"),
  url(font_path("weather.ttf"))  format("truetype");
}

.weather-icon {
  font-family: weather;
  font-size: 80px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: $gray-darkest;
}

.weather-0:before { content: ":"; }
.weather-1:before { content: "p"; }
.weather-2:before { content: "S"; }
.weather-3:before { content: "Q"; }
.weather-4:before { content: "S"; }
.weather-5:before { content: "W"; }
.weather-6:before { content: "W"; }
.weather-7:before { content: "W"; }
.weather-8:before { content: "W"; }
.weather-9:before { content: "I"; }
.weather-10:before { content: "W"; }
.weather-11:before { content: "I"; }
.weather-12:before { content: "I"; }
.weather-13:before { content: "I"; }
.weather-14:before { content: "I"; }
.weather-15:before { content: "W"; }
.weather-16:before { content: "I"; }
.weather-17:before { content: "W"; }
.weather-18:before { content: "U"; }
.weather-19:before { content: "Z"; }
.weather-20:before { content: "Z"; }
.weather-21:before { content: "Z"; }
.weather-22:before { content: "Z"; }
.weather-23:before { content: "Z"; }
.weather-24:before { content: "E"; }
.weather-25:before { content: "E"; }
.weather-26:before { content: "3"; }
.weather-27:before { content: "a"; }
.weather-28:before { content: "A"; }
.weather-29:before { content: "a"; }
.weather-30:before { content: "A"; }
.weather-31:before { content: "6"; }
.weather-32:before { content: "1"; }
.weather-33:before { content: "6"; }
.weather-34:before { content: "1"; }
.weather-35:before { content: "W"; }
.weather-36:before { content: "1"; }
.weather-37:before { content: "S"; }
.weather-38:before { content: "S"; }
.weather-39:before { content: "S"; }
.weather-40:before { content: "M"; }
.weather-41:before { content: "W"; }
.weather-42:before { content: "I"; }
.weather-43:before { content: "W"; }
.weather-44:before { content: "a"; }
.weather-45:before { content: "S"; }
.weather-46:before { content: "U"; }
.weather-47:before { content: "S"; }
